/* div#container {
    margin-top: 1em;
}

.bg-success, .bg-warning, .bg-danger {
    padding: 4px;
    font-weight: bold;
}

.card {
    min-width: 200px;
    max-width: 200px;
} */

/* .cardGroup {
    padding-top: 1em;
} */
